/* Dark mode styling for the entire application */
body.dark-mode {
  background-color: #333;
  color: #f5f5f5;
}

/* Styling for the toggle button */
button {
  /* Add styling for the toggle button here */
}

.parallax-container {
  position: relative;
  overflow: hidden;
}

.parallax-background {
  background-image: url('https://c4.wallpaperflare.com/wallpaper/347/436/917/gunnm-battle-angel-alita-alita-gally-wallpaper-preview.jpg');
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}

.content {
  position: relative;
}
